body {
	margin: 0px auto;
	padding: 0px;
	background-color: #FEFEE7;
}

a {
	text-decoration: none;
	color: black;
}

.container {
  margin: 18% auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted #9A9C9F;
}

.header {
	background-color: #0F0F0D;
	top: 0px;
	width: 100%;
	position: fixed;
	height: 120px;
}

.logo {
	float: left;
}

.logo h1 {
	font-size: 2.5em;
	padding: 4%;
}

.logo a {
	color: #9A9C9F;
}

.nav {
	float: right;
	padding: 4%;
}

.btn {
	display: inline;
	background-color: #A4D0C4;
	padding: 8px;
	border-radius: 4px;
}

.login {
	background-color: #A4D0C4;
	padding: 8px;
	text-align: center;
	display: none;
	position: relative;
	float: right;
	border-radius: 4px;
}

.login-page {
	background-color: #A4D0C4;
	padding: 8px;
	text-align: center;
}

h1, h2, h3, h4 {	
	font-family: 'Stint Ultra Expanded';
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.article {

}

textarea {
	margin-bottom: 16px;
  outline: none;
  overflow: auto;
  width: 580px;
	height: 120px;
	border: 3px solid #A4D0C4;
	padding: 5px;
	font-family: 'Source Sans Pro', sans-serif;
}

/* 
pale 
FEFEE7
HEX
254,254,231

light green
A4D0C4
HEX
164,208,196

darker
72C4B9
HEX
114,196,185
RGB

gray
9A9C9F
HEX
154,156,159
RGB

black
0F0F0D
HEX
15,15,13


*/