body {
	margin: 0px auto;
	padding: 0px;
	background-color: #A4D0C4;
}

a {
	text-decoration: none;
	color: black;
}

input[type=submit] {
	background-color: #A4D0C4;
	display: inline;
	color: #0F0F0D;
	padding: 8px 12px;
	border: 4px solid #A4D0C4;
	border-radius: 8px;
	float: right;
	font-family: 'Stint Ultra Expanded';
	font-weight: 600;
}

.container {
  margin: 18% auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted #0F0F0D;
}

.container a {
	border-bottom: 1px dotted #0F0F0D;
}

.container a:hover {
	border-bottom: 2px solid #0F0F0D;
}

.header {
	background-color: #0F0F0D;
	top: 0px;
	width: 100%;
	position: fixed;
	height: 120px;
	font-weight: 900;
}

.header a {
	text-decoration: none;
}

.logo {
	float: left;
}

.logo h1 {
	font-size: 3em;
	padding: 4%;
}

.logo a {
	color: #FEFEE7;
	margin-left: 8%;
}

.nav {
	float: right;
	padding: 4%;
	font-family: 'Stint Ultra Expanded';
	font-weight: 600;
}

.btn-login {
	color: #FEFEE7;
	display: inline;
	background-color: #0F0F0D;
	padding: 12px 16px;
	border: 4px solid #FEFEE7;
	border-radius: 8px;
}

.btn {
	color: #FEFEE7;
	display: inline;
	background-color: #0F0F0D;
	padding: 12px 16px;
	border: 4px solid #FEFEE7;
	border-radius: 8px;
}

.login {
	background-color: #FEFEE7;
	padding: 8px;
	text-align: center;
	display: none;
	position: relative;
	float: right;
	border-radius: 4px;
}

.signup {
	background-color: #FEFEE7;
	padding: 8px;
	text-align: center;
	display: none;
	position: relative;
	float: right;
	border-radius: 4px;
}

.login-page {
	background-color: #FEFEE7;
	padding: 8px;
	text-align: left;
}

.signup-page {
	background-color: #FEFEE7;
	padding: 8px;
	text-align: left;
}

h1, h2, h3, h4 {	
	font-family: 'Stint Ultra Expanded';
	font-weight: 600;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.article {

}

.comment {
	margin: 8px 0px;
  padding: 0px 12px;
  border-bottom: 1px dotted #0F0F0D;
}

.comments-header {
	background-color: #0F0F0D;
	color: #FEFEE7;
/*	height: 50px;*/
	padding: 1px;
}

.comments-header h3 {
	padding-left: 4px;
}

textarea {
	margin-bottom: 16px;
  outline: none;
  overflow: auto;
  width: 580px;
	height: 120px;
	border: 3px solid #9A9C9F;
	padding: 5px;
	font-family: 'Source Sans Pro', sans-serif;
}

.janky-form {
	display: none;
}

/* 
pale 
FEFEE7
HEX
254,254,231

light green
A4D0C4
HEX
164,208,196

darker
72C4B9
HEX
114,196,185
RGB

gray
9A9C9F
HEX
154,156,159
RGB

black
0F0F0D
HEX
15,15,13


*/