<div class="header">
	<h1><a href="/">Header</a></h1>

	<% if session[:current_user] %>
		<a href="/logout" class="btn-login">Log Out</a>
	<% else %>
		<a href="/login" class="btn-login">Log In</a>
	<% end %>

</div>

<div class="login">
	<%= erb :"partials/_login" %>
</div>