<div class="login-page">
	<form class="login-form" action="/login" method="post">
		<input type="email" name="email" placeholder="Email">
		<br>
		<input type="password" name="password" placeholder="Password">
		<br>
		<input type="submit" value="Submit">
	</form>
</div>