<div class="login-page">
	<form class="login-form" action="/login" method="post">
		<p><input type="email" name="email" placeholder="Email">
		</p>
		<p><input type="password" name="password" placeholder="Password">
		</p>
		<input class="btn-submit"type="submit" value="Log In">
	</form>
</div>