<div class="signup-page">
	<form class="signup-form" action="/signup" method="post">
		<p><input type="email" name="email" placeholder="Email">
		</p>
		<p><input type="password" name="password" placeholder="Password">
		</p>
		
		<input class="btn-submit"type="submit" value="Submit">
	</form>
</div>