<div class="article">

  <h2><%= @article.title %></h2>
  <p><%= @article.content %><p>

  <h3>Comments</h3>

  <div class="comment">
	  <% @comments.each do |comment| %>
	  	<p><%= comment.content %></p>
	  <% end %>
  </div>

  <div class="form-comment">
	  <% if session[:current_user] %>
	  	<h4>Join the conversation:</h4>
	  	<form id="new-comment" action="/comment/new/<%= @article.id %>" method="post">
		  	<textarea name="content" cols="30" rows="5">
		  	</textarea>
		  	<input type="submit" value="Submit">
		  </form>
	  <% end %>
  <div>

</div>